.login-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: #fff;
}

.login-popup-content {
  padding: 2rem;
  border-radius: 4px;
  max-width: 400px;
  width: 100%;
  position: relative;
}

.login-popup-content h2 {
  margin-bottom: 1rem;
}

.login-popup-content input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.login-popup-content button {
  width: auto;
  padding: 0.5rem;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@keyframes blink2 {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: white;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.typewriter {
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  display: inline-flex;
  padding-right: 20px;
}

.text1 {
  overflow: hidden;
  display: inline-block;
  animation: typing 1s steps(40, end) forwards;
}

.text2 {
  overflow: hidden;
  display: inline-block;
  animation: typing 0.75s steps(40, end) forwards;
}

.voxl-text {

  white-space: pre;
  animation: fadeIn 1s ease-in forwards;
  opacity: 0;
}

.cursor {
  font-weight: bold;
  font-size: 1em;
  animation: blink2 0.75s step-end infinite;
  

}

input {
  background-color: transparent;
  border: none;
  color: var(--off-white-1);
  font-size: 1rem;
  width: 100%;
  outline: none;
  caret-color: white;
  font-family: "dico-code-two";
}

input::placeholder {
  color: #363636;
  font-family: "dico-code-two";
}
.voxl-login-ok{
  color: #4AF626;
  position: absolute;
  right: 90px;
}