

@import url("https://p.typekit.net/p.css?s=1&k=tqc7cwb&ht=tk&f=45638.45639.45640.45641&a=87003040&app=typekit&e=css");

@font-face {
font-family:"dico-code-two";
src:url("https://use.typekit.net/af/fc58a1/00000000000000007735c4e1/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/fc58a1/00000000000000007735c4e1/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/fc58a1/00000000000000007735c4e1/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"dico-code-two";
src:url("https://use.typekit.net/af/b7783f/00000000000000007735c4e7/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/b7783f/00000000000000007735c4e7/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/b7783f/00000000000000007735c4e7/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"dico-code-two";
src:url("https://use.typekit.net/af/59552f/00000000000000007735c4eb/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/59552f/00000000000000007735c4eb/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/59552f/00000000000000007735c4eb/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"dico-code-two";
src:url("https://use.typekit.net/af/598d1e/00000000000000007735c4ef/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/598d1e/00000000000000007735c4ef/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/598d1e/00000000000000007735c4ef/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}



html, body {
    margin: 0; 
    padding: 0;
    width: 100%;
    height: 100%;
}
  

.tk-dico-code-two { font-family: "dico-code-two",mono; }
:root {
    --accent-orange: #fc5533;
    --accent-blue: #7387dc;
    --accent-yellow: #ffd25a;
    
    --black: #000000;
    --off-black: #323232;
    
    --white: #ffffff;
    --off-white-1: #faf8f3;
    --off-white-2: #edece7;
}

html, body {
    height: 100%;
    background-color: var(--black);
}

body, input::placeholder {
    font-family: "dico-code-two", mono !important;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.home {
    width: 100%;
    height: 100%;
    position: relative;
}
  
.dico-code-normal {
    font-family: "dico-code-two", mono;
    font-weight: 400;
    font-style: normal;
}

.dico-code-thin {
    font-family: "dico-code-two", mono;
    font-weight: 100;
    font-style: normal;
}

.dico-code-italic {
    font-family: "dico-code-two", mono;
    font-weight: 400;
    font-style: italic;
}

.dico-code-bold {
    font-family: "dico-code-two", mono;
    font-weight: 700;
    font-style: normal;
}

.dico-code-bold-italic {
    font-family: "dico-code-two", mono;
    font-weight: 700;
    font-style: italic;
}




